.chooseCoursesContent {
  margin: 24px;
}

.coursesForm {
  margin: 48px auto 0;
  width: 800px;
}

.deleteField {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.deleteField:hover {
  color: #777;
}

.deleteField[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
